@model List<ApplicationUser>


<div class="shadow-lg mt-5 p-2">

    <div class="border-bottom-1">
        <h6>User list</h6>

    </div>
    <a class="btn  btn-success" asp-action="Upsert" asp-controller="User">Create</a>
    <table class="table">
        <tr>
            <td>User Id</td>
            <td>Firstname</td>
            <td>Middlename</td>
            <td>Lastname</td>
            <td>Username</td>
            <td>Email</td>
            <td>Action</td>

        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.FirstName</td>
                <td>@item.MiddleName </td>
                <td>@item.LastName</td>
                <td>@item.UserName</td>
                <td>@item.Email</td>
                <td>
                    <a class="btn btn-outline-primary" asp-controller="User" asp-action="Upsert" asp-route-id="@item.Id">Edit</a>
                    <a class="btn btn-outline-danger" asp-action="Lock" asp-controller="User" asp-route-id="@item.Id">Lock</a>
                </td>
            </tr>
        }

    </table>

</div>
