@model Contents

<input asp-for="ContentId" hidden/>
<div class="card">
    <h5 class="card-header">@Model.Lesson?.Courses?.Title</h5>
    <div class="card-body">
        <h5 class="card-header">@Model.Lesson?.Title</h5>
        <h6 class="card-title">@Model.Lesson?.Description</h6>
        <p class="card-text">@Model.Description</p>
        <p class="card-text">@Model.UploadedAt</p>
  
        <a asp-action="Login" class="btn btn-success w-100">View More</a>
    </div>
</div>